
<form class="tweet_form" action="/tweet" method="post">
	<textarea name="tweet[text]" id="tweet_textarea" cols="36" rows="4" placeholder="Enter Your Tweet Here:"></textarea>
	<div id="tweet_submit"><input type="submit" value="Tweet!" id="tweet_submit_button"></div>
</form>